body {
  font-size: 100%;
  background-color: #101010;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}
.imagem-cabecalho {
  height: 120px;
}
.cabecalhomenu {
  display: flex;
  gap: 32px;
}
.cabecalho-menu-item {
  font-family: "Source Code Pro", monospace;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}
.rodape {
  margin-top: 48px;
  text-align: center;
}
.textrodape {
  margin: auto;
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}
.cabecalho:hover {
  background-color: #202020;
}
a:hover {
  color: #f64348;
  text-decoration: dotted;
}
a:active {
  color: #101010;
}
