@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  background-color: #101010;
 
}
a:hover {
  color: #f64348;
  text-decoration: dotted;
}
a:active {
  color: #101010;
}
p{
  font-family: "Source Sans 3", sans-serif;
  color: #f64348;
  font-weight: 400;
  font-size: 1.563rem;
}
a{
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.25rem;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
}
.image-cabecalho {
  height: 7.5rem;
}
.cabecalhomenu {
  display: flex;
  gap: 2rem;
}
.cabecalho-menu-item {
  font-family: "Source Code Pro", monospace;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.125rem;
}
.conteudo {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  
}
.section1 {
  width: 62.5rem;
  background-image: url(/imgs/ifmg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.person {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.picture {
  
  border-radius: 50%;
  margin-bottom: 0.625rem;
  -webkit-box-shadow: 5px 5px 37px 17px #000000; 
  box-shadow: 5px 5px 37px 17px #000000;
}
.picture:hover:not(:hover) {
  opacity: 0.3;
}
.picture:hover {
  scale: 1.1;
}
.linkedin,
.linkgit {
  margin-left: 0.625rem;
}
.links, .names {
  margin-bottom: 0.625rem;
}
.rodape{
    text-align: center;
    color: white;
}
.p_footer{
    
  font-size: 0.8em;
  color: #a7a7a7;
}


