.atributos_opcionais{
    border-collapse: separate;
    border-spacing: 0 12px;
    margin-top: -8px;
}

td {
    border: 1px solid #ffffff;
    border-left-width: 0;
    min-width: 120px;
    height: 18px;
  }
  
  td:first-child {
    border-left-width: 1px;
  }

  .tr_atributos_opcionais:nth-child(2n +1) {
    background-color:#fcf3f3c0;
  }
 